<header>
  <div class="header-logo">
    CM-Cafe
  </div>
  <ul>
    <li>
      <%= link_to("商品一覧", "/items") %>  
    </li>
    <li>
      <%= link_to("商品追加", "/items/new") %>
    </li>
  </ul>
  
</header>